
        


<h2 class="flow-text blue-text darken-2">Liste des questions posées par les groupes :</h2>

      <table class="table">
        <thead>
          <tr>
              <th>Nom du projet</th>
              <th>Theme de la question</th>
			  <th>Equipe</th>
			  <th>Voir la question</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>?</td>
            <td>?</td>
			<td>?</td>
			<td><button data-target="modal1" class="modal-trigger btn waves-effect blue darken-2 btn-co">Repondre</button></td>
          </tr>
        </tbody>
      </table>	
		
		
		
<!-- Modal 1 Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h2 class="flow-text blue-text darken-2">Repondre à la question suivante :</h2>
		<blockquote>
		Ceci est une question !
		</blockquote>
		<div class="row">
        <div class="input-field col s12">
          <input id="text" type="text" class="validate">
          <label for="text">Repondre</label>
        </div>
      </div>
	</div>
	
	<div class="modal-footer">
		<input type="submit" value="Valider" class="btn btn-default blue darken-2" />
		<input type="submit" value="Annuler" class="btn btn-default blue darken-2" />
    </div>  
</div>  
